/* ../css/general_style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/tigris_background.jpg'); /* Replace 'path/to/your/background-image.jpg' with the actual path to your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center center center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

header {
    background-color: rgba(51, 51, 51, 0.8); /* Use rgba for translucency */
    color: white;
    padding: 0px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-height: 40px; /* Adjust the height of the logo as needed */
    margin-right: 10px;
    margin-left: 20px;
}

nav {
    display: flex;
    align-items: center;
}

nav a.login-button {
    margin-right: 20px;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

nav a.login-button:hover {
    background-color: #555;
}

nav button{
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-left: 10px; /* Adjust the margin as needed */
}

nav button:hover {
    background-color: #222;
}

.index-header {
    background-color: rgba(51, 51, 51, 0.3); /* Translucent background color */
    color: white;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2; /* Ensure the header is on top of other elements */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-playback {
    display: relative;
    top: 0;
    width: 100%;
    max-width: 100%; /* Set a maximum width for the container */
    overflow: hidden;
    z-index: 1; /* Position the video behind the header */
}

.video-playback video {
    margin-top: 0;
    display: flex;
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the video covers the entire container */
}

/* Profile link styling */
.profile-link {
    display: inline-block;
    width: 40px; /* Adjust the width as needed */
    height: 40px; /* Adjust the height as needed */
    background-size: cover;
    border-radius: 50%; /* Make it a circle */
    margin-right: 10px; /* Add some margin for spacing */
}

.profile-link:hover {
    opacity: 0.8; /* Reduce opacity on hover if desired */
}

.main-white {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.main-white h1{
    color: black;
    font-size: 30px;
}

/* Profile page styling */
.black-main {
    background-color: rgba(51, 51, 51, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.black-main h1{
    text-align: center;
    color: white;
    font-style: bold;
}

.profile-info {
    margin-bottom: 20px;
}

.profile-info p {
    margin-bottom: 10px;
}

.profile-info img {
    max-width: 100%;
    height: 300px;
    width: auto;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Profile buttons styling */
.profile-buttons {
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

.edit-button, .performance-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-button:hover, .performance-button:hover {
    background-color: #222;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(calc(33.33% - 20px), 1fr));
    gap: 20px;
}

.card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
    text-align: center; /* Center-align text within the card */
}

.card h2 {
    margin-bottom: 10px; /* Add some space below the post title */
}

.card p {
    margin-bottom: 15px; /* Add space below paragraphs */
}

.card img {
    max-width: 100%;
    height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card a {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.card a:hover {
    background-color: #222;
}

/* Adjust the number of items per row for smaller screens */
@media (max-width: 1024px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(calc(50% - 20px), 1fr)); /* 2 items per row */
    }
}

@media (max-width: 480px) {
    .card-container {
        grid-template-columns: repeat(auto-fill, minmax(calc(100% - 20px), 1fr)); /* 1 item per row */
    }
}

/*form */
.form {
    background-color: rgba(255, 255, 255, 0.8); /* Use rgba for translucency */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
}

.form label {
    display: block;
    margin-bottom: 10px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form button:hover {
    background-color: #222;
}

.form p.error {
    color: #ff0000;
    margin-top: 10px;
}

.login-links {
    text-align: center;
    margin-top: 10px; /* Add margin to separate from the login form */
}

.login-links p {
    margin: 10px 0;
}

.login-links a {
    text-decoration: none;
    color: #ff8800;
    transition: color 0.3s;
}

.login-links a:hover {
    color: #000;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    position: absolute; /* Remove fixed positioning */
    clear: both; /* Clear floats from main content */
    width: 100%;
}

/* Dashboard buttons styling */
.dashboard-buttons {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content:center;
    gap: 20px;
    margin-top: 20px;
}

.dashboard-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each button */
    box-sizing: border-box; /* Include padding in the width */
}

.dashboard-button:hover {
    background-color: #222;
}

/* Greeting message styling */
.greeting-message {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    margin-bottom: 10px;
}

h2 {
    color: #333;
}

/* manage feed  */
.create-post-button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}

.create-post-button:hover {
    background-color: #222;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #000000;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #333333;
    color: white;
}


a.edit-link, a.delete-link {
    display: inline-block;
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 5px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

a.edit-link {
    background-color: #333;
    color: white;
}

a.delete-link {
    background-color: #ff3333;
    color: white;
}

a.edit-link:hover, a.delete-link:hover {
    background-color: #222;
}

/* Additional CSS for styling dropdowns in the bracket generator */
.form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #fff;
    font-size: 16px;
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow for Chrome */
    -moz-appearance: none; /* Remove default arrow for Firefox */
}

.form select:focus {
    outline: none; /* Remove focus outline */
    border-color: #333; /* Change border color on focus */
}

.form select option {
    background-color: #fff;
    color: #333;
}

.form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%; /* Make button full width */
}

.form button:hover {
    background-color: #222;
}
